.textMain {
    color: #0065BD;
}

.textEmphasize {
    color: #F0AB00;
}

.textLightDark {
    color: #F2F3F4
}

.textDark {
    color: #BDC2C7;
}

.textDarker {
    color: #677079;
}
.textDarkest {
    color: #001514;
}

