.cContainer {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
}

.cContainerCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

body {
    background-color: #F2F3F4;
}

.cnav {
    background-color: white;
    height: 100%;
    width: 100%;
}

.clineHorizontal {
    border-top: 1px solid #F2F3F4;
}

.clineVertical {
    border-right: 1px solid #F2F3F4;
}

.cScheduleCourse {
    background-color: #7CC7E2;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 5px solid #0065BD;

}

.cScheduleCourseUe {
    font-family: 'Open sans';
    font-weight: 700;
    color: #0065BD;
    font-size: 1em;
}

.cScheduleCourseDate {
    color: #004C8F;
    font-size: 0.8em;
}